{% extends 'base/main.html' %}
{% load static %}
{% block content %}
<main>
    <section id="room-name-wrapper">
        <p>Room Name: <span id="room-name"></span></p>
    </section>

            <div id="video-streams">
               
            </div>

    <section id="controls-wrapper">
        <div class="icon-wrapper">
            <img class="control-icon" id="mic-btn" src="images/microphone.svg" />
        </div>

        <div class="icon-wrapper">
            <img class="control-icon" id="camera-btn" src="images/video.svg" />
        </div>

        <div class="icon-wrapper">
            <img class="control-icon" id="leave-btn" src="images/leave.svg" />
        </div>
    </section>
</main>

<script type="text/javascript" src="{% static 'assets/AgoraRTC_N-4.8.1.js' %}"></Script>
<script type="text/javascript" src="{% static 'js/stream.js' %}"></Script>
{% endblock content %}
